.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.alert-info-dashboard {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-danger-dashboard {
    background-color: #F7D9D9;
    border-color: #F1BCBC;
    color: #8F3131;
}

.color-white{
    color: #ffffff;
}

.display-inline{
    display: inline;
}

.text-center{
    text-align: center;
}
